
<!DOCTYPE html>

<html dir="ltr" lang="en-US">
<head>
    <title>Office 365 Login | Microsoft Office</title>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Collaborate for free with online versions of Microsoft Word, PowerPoint, Excel, and OneNote. Save documents, workbooks, and presentations online, in OneDrive. Share them with others and work together at the same time.">
        <meta name="keywords" content="Microsoft Office Online, Collaborate, Free Office, Word Web App, Outlook.com, Outlook, OneDrive, Office Online, Word Web App, PowerPoint Web App, Excel Web App, OneNote Web App, Office templates, Office 365, Microsoft Office 365">
        

        <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="/home/officehub/bundles/unauth-5bbf89595c.css" integrity="sha256-8TtjqCk4DJpX1cfv4iLjT5jJmw0v1p5BZl5sjfHC9fs=">


    <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="/home/officehub/bundles/sharedfontstyles-27fa2598d8.css" integrity="sha256-yK2cIusUjegXobhrz8fM7yFR95jA2PJqdTTuC5Rl6jQ=">
    <link href="/home/officehub/versionless/webfonts/segoeui_light.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous">
    <link href="/home/officehub/versionless/webfonts/segoeui_regular.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous">
    <link href="/home/officehub/versionless/webfonts/segoeui_semibold.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous">
    <link href="/home/officehub/versionless/webfonts/segoeui_semilight.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous">

    
    

<link rel="stylesheet" href="/home/onerfstatics/extra.css" type="text/css" media="all"><link rel='stylesheet' href='/home/statics/override.css' type='text/css'>


        <link rel="shortcut icon" type="image/x-icon" href="/home/officehub/images/content/images/favicon-8f211ea639.ico">


</head>
<body>
    

    <div class="home__edge-parallax-fix"></div>
    <div class="home">
        <div class="home__container">
            
    <div class="home__header-footer home__header">
        



    <div id="pmg-global-header" class="log-appear">
            <div id="headerArea" class="uhf">
                <div id="headerRegion" data-region-key="headerregion">

    <div id="headerUniversalHeader" data-module-id="Category|headerRegion|coreui-region|headerUniversalHeader|coreui-universalheader">
        

                        <div id="epb" class="x-hidden x-hidden-vp-mobile-st uhfc-universal-context context-uhf">

	<div class="c-uhfh-alert f-information epb-container theme-light" role="dialog" aria-label="Promotional Banner"  data-pb-g="true">
		<div>
			<div class="c-paragraph">
				<img alt="" data-src="" src="" class="f-img-lzy">
				<span class="c-text-group pb-content">
					<span class="epb-launch pb-content-heading"></span>
					<span class="epb-text pb-content-text"></span>
				</span>
			</div>
			<span class="c-group">
				<button id="close-epb" class="c-action-trigger c-action-cancel glyph-cancel"></button>
				<a id="epbTryNow" href="" target="_blank" class="epb-launch c-action-trigger c-action-open"></a>
			</span>
		</div>
	</div>





                            
                        </div>




        <a id="uhfSkipToMain" class="m-skip-to-main" href="javascript:void(0)" data-href="#main" tabindex="0">Skip to main content</a>


<header class="c-uhfh context-uhf no-js c-sgl-stck c-category-header " itemscope="itemscope" data-header-footprint="/office/officeheader, fromService: True" data-magict="true" itemtype="http://schema.org/Organization">
    <div class="theme-light js-global-head f-closed  global-head-cont">
        <div class="c-uhfh-gcontainer-st">
            <button type="button" class="c-action-trigger c-glyph glyph-global-nav-button" aria-label="All Microsoft expand to see list of Microsoft products and services" initialstate-label="All Microsoft expand to see list of Microsoft products and services" togglestate-label="Close All Microsoft list" aria-expanded="false"></button>
            <button type="button" class="c-action-trigger c-glyph glyph-arrow-htmllegacy c-close-search" aria-expanded="false"></button>
                    <a id="uhfLogo" class="c-logo c-sgl-stk-uhfLogo" itemprop="url" href="en-ng/index.htm" aria-label="Microsoft">
                        <img alt="" itemprop="logo" class="c-image" src="/home/cms/api/am/imageFileData/RE1Mu3b.png?ver=5c31" role="presentation" aria-hidden="true">
                        <span itemprop="name" role="presentation" aria-hidden="true">Microsoft</span>
                    </a>
            <div class="f-mobile-title">
                <button type="button" class="c-action-trigger c-glyph glyph-chevron-left" aria-label="See more menu options"></button>
                <span data-global-title="Microsoft home" class="js-mobile-title">Office</span>
                <button type="button" class="c-action-trigger c-glyph glyph-chevron-right" aria-label="See more menu options"></button>
            </div>
                    <div class="c-show-pipe x-hidden-vp-mobile-st">
                        <a id="uhfCatLogo" class="c-logo c-cat-logo" href="index.htm" aria-label="Office" itemprop="url">
                                <span>Office</span>
                        </a>
                    </div>
                <div class="cat-logo-button-cont x-hidden">
                        <button type="button" id="uhfCatLogoButton" class="c-cat-logo-button x-hidden" aria-expanded="false" aria-label="Office">
                            Office
                        </button>
                </div>



                    <nav id="uhf-g-nav" aria-label="Contextual menu" class="c-uhfh-gnav">
            <ul class="js-paddle-items">
                    <li class="single-link js-nav-menu x-hidden-none-mobile-vp uhf-menu-item">
                        <a class="c-uhf-nav-link" href="index.htm"> Home </a>
                    </li>
                                        <li class="nested-menu uhf-menu-item">
                            <div class="c-uhf-menu js-nav-menu">
                                <button type="button" id="c-shellmenu_0" aria-expanded="false">Products </button>

                                <ul class="f-multi-column f-multi-column-5" data-class-idn="f-multi-column f-multi-column-5" aria-hidden="true">
<li class="f-sub-menu js-nav-menu nested-menu">

    <button id="uhf-navbtn-shellmenu_1-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn2c1c3c8c3c1m1r1a1","sN":2,"aN":"c1c3c8c3c1m1r1a1"}'>For home</button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_1-span">
        <li class="js-nav-menu single-link">
            <a id="shellmenu_2" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/buy/compare-all-microsoft-365-products.html" data-m='{"id":"n1c3c1c3c8c3c1m1r1a1","sN":1,"aN":"c3c1c3c8c3c1m1r1a1"}'>Plans and pricing</a>
            
        </li>
        <li class="js-nav-menu single-link">
            <a id="shellmenu_3" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/p/microsoft-365-family/cfq7ttc0k5dm.html">For families</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c5c1c3c8c3c1m1r1a1","sN":5,"aN":"c1c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_4" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/p/microsoft-365-personal/cfq7ttc0k5bf.html">For individuals</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c6c1c3c8c3c1m1r1a1","sN":6,"aN":"c1c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_5" class="js-subm-uhf-nav-link" href="en-us/education/products/office.html">For students</a>
            
        </li>
        <li class="js-nav-menu single-link">
            <a id="shellmenu_6" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/explore-microsoft-365-for-home.html" data-m='{"id":"n1c7c1c3c8c3c1m1r1a1","sN":1,"aN":"c7c1c3c8c3c1m1r1a1"}'>See all home</a>
            
        </li>
    </ul>
    
</li>
<li class="f-sub-menu js-nav-menu nested-menu">

    <span id="uhf-navspn-shellmenu_7-span" style="display:none" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn1c2c3c8c3c1m1r1a1","sN":1,"aN":"c2c3c8c3c1m1r1a1"}'>For business</span>
    <button id="uhf-navbtn-shellmenu_7-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn2c2c3c8c3c1m1r1a1","sN":2,"aN":"c2c3c8c3c1m1r1a1"}'>For business</button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_7-span">
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c3c2c3c8c3c1m1r1a1","sN":3,"aN":"c2c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_8" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/business/compare-all-microsoft-365-business-products.html" data-m='{"id":"n1c3c2c3c8c3c1m1r1a1","sN":1,"aN":"c3c2c3c8c3c1m1r1a1"}'>Plans and pricing</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c4c2c3c8c3c1m1r1a1","sN":4,"aN":"c2c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_9" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/business.html" data-m='{"id":"n1c4c2c3c8c3c1m1r1a1","sN":1,"aN":"c4c2c3c8c3c1m1r1a1"}'>Small business</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c5c2c3c8c3c1m1r1a1","sN":5,"aN":"c2c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_10" class="js-subm-uhf-nav-link" href="">Schools</a>
            
        </li>
    </ul>
    
</li>
<li class="f-sub-menu js-nav-menu nested-menu">

    <span id="uhf-navspn-shellmenu_11-span" style="display:none" f-multi-parent="true" aria-expanded="false">For enterprise</span>
    <button id="uhf-navbtn-shellmenu_11-button" type="button" f-multi-parent="true" aria-expanded="false">For enterprise</button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_11-span">
        <li class="js-nav-menu single-link">
            <a id="shellmenu_12" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/compare-microsoft-365-enterprise-plans.html">Plans and pricing</a>
            
        </li>
        <li class="js-nav-menu single-link">
            <a id="shellmenu_13" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/enterprise.html">Enterprise</a>
            
        </li>
        <li class="js-nav-menu single-link">
            <a id="shellmenu_14" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/enterprise/frontline.html">Frontline workers</a>
            
        </li>
    </ul>
    
</li>
<li class="f-sub-menu js-nav-menu nested-menu">

    
    <button id="uhf-navbtn-shellmenu_15-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn2c4c3c8c3c1m1r1a1","sN":2,"aN":"c4c3c8c3c1m1r1a1"}'>Apps and services</button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_15-span">
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c3c4c3c8c3c1m1r1a1","sN":3,"aN":"c4c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_16" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/excel.html" data-m='{"id":"n1c3c4c3c8c3c1m1r1a1","sN":1,"aN":"c3c4c3c8c3c1m1r1a1"}'>Excel</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c4c4c3c8c3c1m1r1a1","sN":4,"aN":"c4c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_17" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/family-safety.html" data-m='{"id":"n1c4c4c3c8c3c1m1r1a1","sN":1,"aN":"c4c4c3c8c3c1m1r1a1"}'>Microsoft Family Safety</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c5c4c3c8c3c1m1r1a1","sN":5,"aN":"c4c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_18" class="js-subm-uhf-nav-link" href="en-us/microsoft-teams/group-chat-software.html" data-m='{"id":"n1c5c4c3c8c3c1m1r1a1","sN":1,"aN":"c5c4c3c8c3c1m1r1a1"}'>Microsoft Teams</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c6c4c3c8c3c1m1r1a1","sN":6,"aN":"c4c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_19" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/onedrive/online-cloud-storage.html" data-m='{"id":"n1c6c4c3c8c3c1m1r1a1","sN":1,"aN":"c6c4c3c8c3c1m1r1a1"}'>OneDrive</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c7c4c3c8c3c1m1r1a1","sN":7,"aN":"c4c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_20" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/outlook/email-and-calendar-software-microsoft-outlook.html" data-m='{"id":"n1c7c4c3c8c3c1m1r1a1","sN":1,"aN":"c7c4c3c8c3c1m1r1a1"}'>Outlook</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c8c4c3c8c3c1m1r1a1","sN":8,"aN":"c4c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_21" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/powerpoint.html" data-m='{"id":"n1c8c4c3c8c3c1m1r1a1","sN":1,"aN":"c8c4c3c8c3c1m1r1a1"}'>PowerPoint</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c9c4c3c8c3c1m1r1a1","sN":9,"aN":"c4c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_22" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/sharepoint/collaboration.html" data-m='{"id":"n1c9c4c3c8c3c1m1r1a1","sN":1,"aN":"c9c4c3c8c3c1m1r1a1"}'>SharePoint</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c10c4c3c8c3c1m1r1a1","sN":10,"aN":"c4c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_23" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/word.html" data-m='{"id":"n1c10c4c3c8c3c1m1r1a1","sN":1,"aN":"c10c4c3c8c3c1m1r1a1"}'>Word</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c11c4c3c8c3c1m1r1a1","sN":11,"aN":"c4c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_24" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/products-apps-services.html" data-m='{"id":"n1c11c4c3c8c3c1m1r1a1","sN":1,"aN":"c11c4c3c8c3c1m1r1a1"}'>See all apps and services</a>
            
        </li>
    </ul>
    
</li>
<li class="f-sub-menu js-nav-menu nested-menu" data-m='{"cT":"Container","id":"c5c3c8c3c1m1r1a1","sN":5,"aN":"c3c8c3c1m1r1a1"}'>

    <span id="uhf-navspn-shellmenu_25-span" style="display:none" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn1c5c3c8c3c1m1r1a1","sN":1,"aN":"c5c3c8c3c1m1r1a1"}'>More</span>
    <button id="uhf-navbtn-shellmenu_25-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn2c5c3c8c3c1m1r1a1","sN":2,"aN":"c5c3c8c3c1m1r1a1"}'>More</button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_25-span">
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c3c5c3c8c3c1m1r1a1","sN":3,"aN":"c5c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_26" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/microsoft-office.html" data-m='{"id":"n1c3c5c3c8c3c1m1r1a1","sN":1,"aN":"c3c5c3c8c3c1m1r1a1"}'>Microsoft Office</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c4c5c3c8c3c1m1r1a1","sN":4,"aN":"c5c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_27" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/office-365.html" data-m='{"id":"n1c4c5c3c8c3c1m1r1a1","sN":1,"aN":"c4c5c3c8c3c1m1r1a1"}'>Office 365</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c5c5c3c8c3c1m1r1a1","sN":5,"aN":"c5c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_28" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/windows.html" data-m='{"id":"n1c5c5c3c8c3c1m1r1a1","sN":1,"aN":"c5c5c3c8c3c1m1r1a1"}'>Windows</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c6c5c3c8c3c1m1r1a1","sN":6,"aN":"c5c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_29" class="js-subm-uhf-nav-link" href="en-us/windows-365.html" data-m='{"id":"n1c6c5c3c8c3c1m1r1a1","sN":1,"aN":"c6c5c3c8c3c1m1r1a1"}'>Windows 365</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cT":"Container","id":"c7c5c3c8c3c1m1r1a1","sN":7,"aN":"c5c3c8c3c1m1r1a1"}'>
            <a id="shellmenu_30" class="js-subm-uhf-nav-link" href="en-us/security/business/enterprise-mobility-security.html" data-m='{"id":"n1c7c5c3c8c3c1m1r1a1","sN":1,"aN":"c7c5c3c8c3c1m1r1a1"}'>Enterprise Mobility + Security</a>
            
        </li>
    </ul>
    
</li>
                                                    
                                </ul>
                            </div>
                        </li>                        <li class="nested-menu uhf-menu-item">
                            <div class="c-uhf-menu js-nav-menu">
                                <button type="button" id="resources" aria-expanded="false" data-m='{"cN":"CatNav_Resources_nonnav","id":"nn4c8c3c1m1r1a1","sN":4,"aN":"c8c3c1m1r1a1"}'>Resources  </button>

                                <ul class="" data-class-idn="" aria-hidden="true" data-m='{"cN":"Resources_cont","cT":"Container","id":"c5c8c3c1m1r1a1","sN":5,"aN":"c8c3c1m1r1a1"}'>
        <li class="js-nav-menu single-link" data-m='{"cN":"CustomerStories_cont","cT":"Container","id":"c1c5c8c3c1m1r1a1","sN":1,"aN":"c5c8c3c1m1r1a1"}'>
            <a id="CustomerStories" class="js-subm-uhf-nav-link" href="en-ww/microsoft-365/customer-stories.html" data-m='{"cN":"CatNav_CustomerStories_nav","id":"n1c1c5c8c3c1m1r1a1","sN":1,"aN":"c1c5c8c3c1m1r1a1"}'>Customer stories</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"FAQ_cont","cT":"Container","id":"c2c5c8c3c1m1r1a1","sN":2,"aN":"c5c8c3c1m1r1a1"}'>
            <a id="FAQ" class="js-subm-uhf-nav-link" href="en-ww/microsoft-365/microsoft-365-for-home-and-school-faq.html" data-m='{"cN":"CatNav_FAQ_nav","id":"n1c2c5c8c3c1m1r1a1","sN":1,"aN":"c2c5c8c3c1m1r1a1"}'>Frequently asked questions</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"InstallOffice_cont","cT":"Container","id":"c3c5c8c3c1m1r1a1","sN":3,"aN":"c5c8c3c1m1r1a1"}'>
            <a id="InstallOffice" class="js-subm-uhf-nav-link" href="en-us/office/download-and-install-or-reinstall-microsoft-365-or-office-2021-on-a-pc-or-mac-4414eaaf-0478-48be-9c42-23adc4716658.html?LinkID=717124" data-m='{"cN":"CatNav_InstallOffice_nav","id":"n1c3c5c8c3c1m1r1a1","sN":1,"aN":"c3c5c8c3c1m1r1a1"}'>Install Office</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"ITResources_cont","cT":"Container","id":"c4c5c8c3c1m1r1a1","sN":4,"aN":"c5c8c3c1m1r1a1"}'>
            <a id="ITResources" class="js-subm-uhf-nav-link" href="en-ww/microsoft-365/enterprise.html" data-m='{"cN":"CatNav_ITResources_nav","id":"n1c4c5c8c3c1m1r1a1","sN":1,"aN":"c4c5c8c3c1m1r1a1"}'>IT Pro resources</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"officeblog_cont","cT":"Container","id":"c5c5c8c3c1m1r1a1","sN":5,"aN":"c5c8c3c1m1r1a1"}'>
            <a id="officeblog" class="js-subm-uhf-nav-link" href="" >Office blog</a>
            
        </li>
        <li class="js-nav-menu single-link">
            <a id="SecurityCompliance" class="js-subm-uhf-nav-link" href="en-ww/trust-center.html" data-m='{"cN":"CatNav_SecurityCompliance_nav","id":"n1c6c5c8c3c1m1r1a1","sN":1,"aN":"c6c5c8c3c1m1r1a1"}'>Security &amp; compliance</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"SystemRequirements_cont","cT":"Container","id":"c7c5c8c3c1m1r1a1","sN":7,"aN":"c5c8c3c1m1r1a1"}'>
            <a id="SystemRequirements" class="js-subm-uhf-nav-link" href="/" data-m='{"cN":"CatNav_SystemRequirements_nav","id":"n1c7c5c8c3c1m1r1a1","sN":1,"aN":"c7c5c8c3c1m1r1a1"}'>System requirements</a>
            
        </li>
                                                    
                                </ul>
                            </div>
                        </li>                        <li class="single-link js-nav-menu uhf-menu-item">
                            <a id="c-shellmenu_39" class="c-uhf-nav-link" href="index-2.htm" data-m='{"cN":"CatNav_cat-templates_nav","id":"n6c8c3c1m1r1a1","sN":6,"aN":"c8c3c1m1r1a1"}'>Templates</a>
                        </li>
                        <li class="single-link js-nav-menu uhf-menu-item">
                            <a id="support" class="c-uhf-nav-link" href="en-us/office.html" data-m='{"cN":"CatNav_Support_nav","id":"n7c8c3c1m1r1a1","sN":7,"aN":"c8c3c1m1r1a1"}'>Support</a>
                        </li>
                        <li class="single-link js-nav-menu uhf-menu-item">
                            <a id="My account" class="c-uhf-nav-link" href="start/MyAccount.aspx.html" data-m='{"cN":"CatNav_My account_nav","id":"n8c8c3c1m1r1a1","sN":8,"aN":"c8c3c1m1r1a1"}'>My account</a>
                        </li>


                <li id="overflow-menu" class="overflow-menu x-hidden uhf-menu-item">
                        <div class="c-uhf-menu js-nav-menu">
        <button data-m='{"pid":"More","id":"nn9c8c3c1m1r1a1","sN":9,"aN":"c8c3c1m1r1a1"}' type="button" aria-label="More" aria-expanded="false">More</button>
        <ul id="overflow-menu-list" aria-hidden="true" class="overflow-menu-list">
        </ul>
    </div>

                </li>
                                    <li class="single-link js-nav-menu" id="c-uhf-nav-cta">
                        <a id="BuyOffice365" class="c-uhf-nav-link" href="en-ww/microsoft-365/buy/compare-all-microsoft-365-products.html?&amp;activetab=tab:primaryr1" data-m='{"cN":"CatNav_cta_Buy now_nav","id":"n10c8c3c1m1r1a1","sN":10,"aN":"c8c3c1m1r1a1"}'>Buy now</a>
                    </li>
            </ul>
            
        </nav>


            <div class="c-uhfh-actions" data-m='{"cN":"Header actions_cont","cT":"Container","id":"c9c3c1m1r1a1","sN":9,"aN":"c3c1m1r1a1"}'>
                <div class="wf-menu">        <nav id="uhf-c-nav" aria-label="All Microsoft menu" data-m='{"cN":"GlobalNav_cont","cT":"Container","id":"c1c9c3c1m1r1a1","sN":1,"aN":"c9c3c1m1r1a1"}'>
            <ul class="js-paddle-items">
                <li>
                    <div class="c-uhf-menu js-nav-menu">
                        <button type="button" class="c-button-logo all-ms-nav" aria-label="All Microsoft expand to see list of Microsoft products and services" aria-expanded="false" data-m='{"cN":"GlobalNav_More_nonnav","id":"nn1c1c9c3c1m1r1a1","sN":1,"aN":"c1c9c3c1m1r1a1"}'> <span>All Microsoft</span></button>
                        <ul class="f-multi-column f-multi-column-6" aria-hidden="true" data-m='{"cN":"More_cont","cT":"Container","id":"c2c1c9c3c1m1r1a1","sN":2,"aN":"c1c9c3c1m1r1a1"}'>
                                    <li class="c-w0-contr">
            <ul class="c-w0">
        <li class="js-nav-menu single-link" data-m='{"cN":"M365_cont","cT":"Container","id":"c1c2c1c9c3c1m1r1a1","sN":1,"aN":"c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_42" class="js-subm-uhf-nav-link" href="en/microsoft-365.html" data-m='{"cN":"W0Nav_M365_nav","id":"n1c1c2c1c9c3c1m1r1a1","sN":1,"aN":"c1c2c1c9c3c1m1r1a1"}'>Microsoft 365</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Office_cont","cT":"Container","id":"c2c2c1c9c3c1m1r1a1","sN":2,"aN":"c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_43" class="js-subm-uhf-nav-link" href="en-us/microsoft-365/microsoft-office.html" data-m='{"cN":"W0Nav_Office_nav","id":"n1c2c2c1c9c3c1m1r1a1","sN":1,"aN":"c2c2c1c9c3c1m1r1a1"}'>Office</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Windows_cont","cT":"Container","id":"c3c2c1c9c3c1m1r1a1","sN":3,"aN":"c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_44" class="js-subm-uhf-nav-link" href="en-us/windows/index.htm" data-m='{"cN":"W0Nav_Windows_nav","id":"n1c3c2c1c9c3c1m1r1a1","sN":1,"aN":"c3c2c1c9c3c1m1r1a1"}'>Windows</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Surface_cont","cT":"Container","id":"c4c2c1c9c3c1m1r1a1","sN":4,"aN":"c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_45" class="js-subm-uhf-nav-link" href="en-us/surface.html" data-m='{"cN":"W0Nav_Surface_nav","id":"n1c4c2c1c9c3c1m1r1a1","sN":1,"aN":"c4c2c1c9c3c1m1r1a1"}'>Surface</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Xbox_cont","cT":"Container","id":"c5c2c1c9c3c1m1r1a1","sN":5,"aN":"c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_46" class="js-subm-uhf-nav-link" href="en-US/index.htm" data-m='{"cN":"W0Nav_Xbox_nav","id":"n1c5c2c1c9c3c1m1r1a1","sN":1,"aN":"c5c2c1c9c3c1m1r1a1"}'>Xbox</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Deals_cont","cT":"Container","id":"c6c2c1c9c3c1m1r1a1","sN":6,"aN":"c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_47" class="js-subm-uhf-nav-link" href="en-us/store/b/sale.html?icid=gm_nav_L0_salepage" data-m='{"cN":"W0Nav_Deals_nav","id":"n1c6c2c1c9c3c1m1r1a1","sN":1,"aN":"c6c2c1c9c3c1m1r1a1"}'>Deals</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Support_cont","cT":"Container","id":"c7c2c1c9c3c1m1r1a1","sN":7,"aN":"c2c1c9c3c1m1r1a1"}'>
            <a id="l1_support" class="js-subm-uhf-nav-link" href="en-us.html" data-m='{"cN":"W0Nav_Support_nav","id":"n1c7c2c1c9c3c1m1r1a1","sN":1,"aN":"c7c2c1c9c3c1m1r1a1"}'>Support</a>
            
        </li>
            </ul>
        </li>

<li class="f-sub-menu js-nav-menu nested-menu" data-m='{"cT":"Container","id":"c8c2c1c9c3c1m1r1a1","sN":8,"aN":"c2c1c9c3c1m1r1a1"}'>

    <span id="uhf-navspn-shellmenu_50-span" style="display:none" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn1c8c2c1c9c3c1m1r1a1","sN":1,"aN":"c8c2c1c9c3c1m1r1a1"}'>Software</span>
    <button id="uhf-navbtn-shellmenu_50-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn2c8c2c1c9c3c1m1r1a1","sN":2,"aN":"c8c2c1c9c3c1m1r1a1"}'>Software</button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_50-span">
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Software_WindowsApps_cont","cT":"Container","id":"c3c8c2c1c9c3c1m1r1a1","sN":3,"aN":"c8c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_51" class="js-subm-uhf-nav-link" href="en-us/store/apps/windows.html?icid=CNavAppsWindowsApps" data-m='{"cN":"GlobalNav_More_Software_WindowsApps_nav","id":"n1c3c8c2c1c9c3c1m1r1a1","sN":1,"aN":"c3c8c2c1c9c3c1m1r1a1"}'>Windows Apps</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Software_OneDrive_cont","cT":"Container","id":"c4c8c2c1c9c3c1m1r1a1","sN":4,"aN":"c8c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_52" class="js-subm-uhf-nav-link" href="" data-m='{"cN":"GlobalNav_More_Software_OneDrive_nav","id":"n1c4c8c2c1c9c3c1m1r1a1","sN":1,"aN":"c4c8c2c1c9c3c1m1r1a1"}'>OneDrive</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Software_Outlook_cont","cT":"Container","id":"c5c8c2c1c9c3c1m1r1a1","sN":5,"aN":"c8c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_53" class="js-subm-uhf-nav-link" href="" data-m='{"cN":"GlobalNav_More_Software_Outlook_nav","id":"n1c5c8c2c1c9c3c1m1r1a1","sN":1,"aN":"c5c8c2c1c9c3c1m1r1a1"}'>Outlook</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Software_Skype_cont","cT":"Container","id":"c6c8c2c1c9c3c1m1r1a1","sN":6,"aN":"c8c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_54" class="js-subm-uhf-nav-link" href="en/index.htm" data-m='{"cN":"GlobalNav_More_Software_Skype_nav","id":"n1c6c8c2c1c9c3c1m1r1a1","sN":1,"aN":"c6c8c2c1c9c3c1m1r1a1"}'>Skype</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Software_OneNote_cont","cT":"Container","id":"c7c8c2c1c9c3c1m1r1a1","sN":7,"aN":"c8c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_55" class="js-subm-uhf-nav-link" href="signin.html" data-m='{"cN":"GlobalNav_More_Software_OneNote_nav","id":"n1c7c8c2c1c9c3c1m1r1a1","sN":1,"aN":"c7c8c2c1c9c3c1m1r1a1"}'>OneNote</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Software_Microsoft Teams_cont","cT":"Container","id":"c8c8c2c1c9c3c1m1r1a1","sN":8,"aN":"c8c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_56" class="js-subm-uhf-nav-link" href="en-us/microsoft-teams/group-chat-software.html" data-m='{"cN":"GlobalNav_More_Software_Microsoft Teams_nav","id":"n1c8c8c2c1c9c3c1m1r1a1","sN":1,"aN":"c8c8c2c1c9c3c1m1r1a1"}'>Microsoft Teams</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"microsoft edge_cont","cT":"Container","id":"c9c8c2c1c9c3c1m1r1a1","sN":9,"aN":"c8c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_57" class="js-subm-uhf-nav-link" href="en-us/edge.html" data-m='{"cN":"GlobalNav_microsoft edge_nav","id":"n1c9c8c2c1c9c3c1m1r1a1","sN":1,"aN":"c9c8c2c1c9c3c1m1r1a1"}'>Microsoft Edge</a>
            
        </li>
    </ul>
    
</li>
<li class="f-sub-menu js-nav-menu nested-menu" data-m='{"cN":"PCsAndDevices_cont","cT":"Container","id":"c9c2c1c9c3c1m1r1a1","sN":9,"aN":"c2c1c9c3c1m1r1a1"}'>

    <span id="uhf-navspn-shellmenu_58-span" style="display:none" f-multi-parent="true" aria-expanded="false" data-m='{"cN":"GlobalNav_PCsAndDevices_nonnav","id":"nn1c9c2c1c9c3c1m1r1a1","sN":1,"aN":"c9c2c1c9c3c1m1r1a1"}'>PCs &amp; Devices  </span>
    <button id="uhf-navbtn-shellmenu_58-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"cN":"GlobalNav_PCsAndDevices_nonnav","id":"nn2c9c2c1c9c3c1m1r1a1","sN":2,"aN":"c9c2c1c9c3c1m1r1a1"}'>PCs &amp; Devices  </button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_58-span">
        <li class="js-nav-menu single-link" data-m='{"cN":"More_PCsAndDevices_PCsAndTablets_cont","cT":"Container","id":"c3c9c2c1c9c3c1m1r1a1","sN":3,"aN":"c9c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_59" class="js-subm-uhf-nav-link" href="en-us/store/b/pc.html?icid=CNavDevicesPC" data-m='{"cN":"GlobalNav_More_PCsAndDevices_PCsAndTablets_nav","id":"n1c3c9c2c1c9c3c1m1r1a1","sN":1,"aN":"c3c9c2c1c9c3c1m1r1a1"}'>Computers</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_PCAndDevices_ShopXbox_cont","cT":"Container","id":"c4c9c2c1c9c3c1m1r1a1","sN":4,"aN":"c9c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_60" class="js-subm-uhf-nav-link" href="en-us/store/b/xbox.html?icid=CNavDevicesXbox" data-m='{"cN":"GlobalNav_More_PCAndDevices_ShopXbox_nav","id":"n1c4c9c2c1c9c3c1m1r1a1","sN":1,"aN":"c4c9c2c1c9c3c1m1r1a1"}'>Shop Xbox</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_PCAndDevices_Accessories_cont","cT":"Container","id":"c5c9c2c1c9c3c1m1r1a1","sN":5,"aN":"c9c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_61" class="js-subm-uhf-nav-link" href="en-us/store/b/accessories.html?icid=CNavDevicesAccessories" data-m='{"cN":"GlobalNav_More_PCAndDevices_Accessories_nav","id":"n1c5c9c2c1c9c3c1m1r1a1","sN":1,"aN":"c5c9c2c1c9c3c1m1r1a1"}'>Accessories</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_PCsAndDevices_VMAndMixedReality_cont","cT":"Container","id":"c6c9c2c1c9c3c1m1r1a1","sN":6,"aN":"c9c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_62" class="js-subm-uhf-nav-link" href="en-us/store/b/virtualreality.html?icid=CNavVirtualReality" data-m='{"cN":"GlobalNav_More_PCsAndDevices_VMAndMixedReality_nav","id":"n1c6c9c2c1c9c3c1m1r1a1","sN":1,"aN":"c6c9c2c1c9c3c1m1r1a1"}'>VR &amp; mixed reality</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_PCAndDevices_Phone_cont","cT":"Container","id":"c7c9c2c1c9c3c1m1r1a1","sN":7,"aN":"c9c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_63" class="js-subm-uhf-nav-link" href="en-us/store/b/mobile.html?icid=CNavDevicesMobile" data-m='{"cN":"GlobalNav_More_PCAndDevices_Phone_nav","id":"n1c7c9c2c1c9c3c1m1r1a1","sN":1,"aN":"c7c9c2c1c9c3c1m1r1a1"}'>Phones</a>
            
        </li>
    </ul>
    
</li>
<li class="f-sub-menu js-nav-menu nested-menu" data-m='{"cT":"Container","id":"c10c2c1c9c3c1m1r1a1","sN":10,"aN":"c2c1c9c3c1m1r1a1"}'>

    <span id="uhf-navspn-shellmenu_64-span" style="display:none" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn1c10c2c1c9c3c1m1r1a1","sN":1,"aN":"c10c2c1c9c3c1m1r1a1"}'>Entertainment</span>
    <button id="uhf-navbtn-shellmenu_64-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn2c10c2c1c9c3c1m1r1a1","sN":2,"aN":"c10c2c1c9c3c1m1r1a1"}'>Entertainment</button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_64-span">
        <li class="js-nav-menu single-link" data-m='{"cN":"Products_DevicesAndXbox_XboxGamePassUltimate_cont","cT":"Container","id":"c3c10c2c1c9c3c1m1r1a1","sN":3,"aN":"c10c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_65" class="js-subm-uhf-nav-link" href="en-us/games/store/xbox-game-pass-ultimate/cfq7ttc0khs0.html?icid=CNavAllXboxGamePassUltimate" data-m='{"cN":"GlobalNav_Products_DevicesAndXbox_XboxGamePassUltimate_nav","id":"n1c3c10c2c1c9c3c1m1r1a1","sN":1,"aN":"c3c10c2c1c9c3c1m1r1a1"}'>Xbox Game Pass Ultimate</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Products_DevicesAndXbox_Xbox Live Gold_cont","cT":"Container","id":"c4c10c2c1c9c3c1m1r1a1","sN":4,"aN":"c10c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_66" class="js-subm-uhf-nav-link" href="en-us/games/store/xbox-live-gold/cfq7ttc0k5dj.html?icid=CNavAllXboxLiveGold" data-m='{"cN":"GlobalNav_Products_DevicesAndXbox_Xbox Live Gold_nav","id":"n1c4c10c2c1c9c3c1m1r1a1","sN":1,"aN":"c4c10c2c1c9c3c1m1r1a1"}'>Xbox Live Gold</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Products_DevicesAndXbox_XboxAndGames_cont","cT":"Container","id":"c5c10c2c1c9c3c1m1r1a1","sN":5,"aN":"c10c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_67" class="js-subm-uhf-nav-link" href="en-us/store/b/xboxgames.html?icid=CNavGamesXboxGames" data-m='{"cN":"GlobalNav_Products_DevicesAndXbox_XboxAndGames_nav","id":"n1c5c10c2c1c9c3c1m1r1a1","sN":1,"aN":"c5c10c2c1c9c3c1m1r1a1"}'>Xbox games</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Entertainment_PCGames_cont","cT":"Container","id":"c6c10c2c1c9c3c1m1r1a1","sN":6,"aN":"c10c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_68" class="js-subm-uhf-nav-link" href="en-us/store/games/windows.html?icid=CNavGamesWindowsGames" data-m='{"cN":"GlobalNav_Entertainment_PCGames_nav","id":"n1c6c10c2c1c9c3c1m1r1a1","sN":1,"aN":"c6c10c2c1c9c3c1m1r1a1"}'>PC games</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Entertainment_WindowsDigitalGames_cont","cT":"Container","id":"c7c10c2c1c9c3c1m1r1a1","sN":7,"aN":"c10c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_69" class="js-subm-uhf-nav-link" href="en-us/store/games/windows-1.html?icid=TopNavWindowsGames" data-m='{"cN":"GlobalNav_More_Entertainment_WindowsDigitalGames_nav","id":"n1c7c10c2c1c9c3c1m1r1a1","sN":1,"aN":"c7c10c2c1c9c3c1m1r1a1"}'>Windows digital games</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Entertainment_MoviesAndTV_cont","cT":"Container","id":"c8c10c2c1c9c3c1m1r1a1","sN":8,"aN":"c10c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_70" class="js-subm-uhf-nav-link" href="en-us/store/movies-and-tv.html?icid=TopNavMoviesTv" data-m='{"cN":"GlobalNav_More_Entertainment_MoviesAndTV_nav","id":"n1c8c10c2c1c9c3c1m1r1a1","sN":1,"aN":"c8c10c2c1c9c3c1m1r1a1"}'>Movies &amp; TV</a>
            
        </li>
    </ul>
    
</li>
<li class="f-sub-menu js-nav-menu nested-menu" data-m='{"cT":"Container","id":"c11c2c1c9c3c1m1r1a1","sN":11,"aN":"c2c1c9c3c1m1r1a1"}'>

    <span id="uhf-navspn-shellmenu_71-span" style="display:none" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn1c11c2c1c9c3c1m1r1a1","sN":1,"aN":"c11c2c1c9c3c1m1r1a1"}'>Business</span>
    <button id="uhf-navbtn-shellmenu_71-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn2c11c2c1c9c3c1m1r1a1","sN":2,"aN":"c11c2c1c9c3c1m1r1a1"}'>Business</button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_71-span">
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Business_Microsoft_Cloud_cont","cT":"Container","id":"c3c11c2c1c9c3c1m1r1a1","sN":3,"aN":"c11c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_72" class="js-subm-uhf-nav-link" href="en-us/microsoft-cloud.html" data-m='{"cN":"GlobalNav_More_Business_Microsoft_Cloud_nav","id":"n1c3c11c2c1c9c3c1m1r1a1","sN":1,"aN":"c3c11c2c1c9c3c1m1r1a1"}'>Microsoft Cloud</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Business_MicrosoftAzure_cont","cT":"Container","id":"c4c11c2c1c9c3c1m1r1a1","sN":4,"aN":"c11c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_73" class="js-subm-uhf-nav-link" href="en-us/index-1.htm" data-m='{"cN":"GlobalNav_More_Business_MicrosoftAzure_nav","id":"n1c4c11c2c1c9c3c1m1r1a1","sN":1,"aN":"c4c11c2c1c9c3c1m1r1a1"}'>Microsoft Azure</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Business_MicrosoftDynamics365_cont","cT":"Container","id":"c5c11c2c1c9c3c1m1r1a1","sN":5,"aN":"c11c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_74" class="js-subm-uhf-nav-link" href="en-us/index-2.htm" data-m='{"cN":"GlobalNav_More_Business_MicrosoftDynamics365_nav","id":"n1c5c11c2c1c9c3c1m1r1a1","sN":1,"aN":"c5c11c2c1c9c3c1m1r1a1"}'>Microsoft Dynamics 365</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Business_Microsoft365_cont","cT":"Container","id":"c6c11c2c1c9c3c1m1r1a1","sN":6,"aN":"c11c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_75" class="js-subm-uhf-nav-link" href="en-ww/microsoft-365/business.html" data-m='{"cN":"GlobalNav_Business_Microsoft365_nav","id":"n1c6c11c2c1c9c3c1m1r1a1","sN":1,"aN":"c6c11c2c1c9c3c1m1r1a1"}'>Microsoft 365</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Business_Windows365_cont","cT":"Container","id":"c7c11c2c1c9c3c1m1r1a1","sN":7,"aN":"c11c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_76" class="js-subm-uhf-nav-link" href="en-ww/windows-365.html" data-m='{"cN":"GlobalNav_More_Business_Windows365_nav","id":"n1c7c11c2c1c9c3c1m1r1a1","sN":1,"aN":"c7c11c2c1c9c3c1m1r1a1"}'>Windows 365</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Business_Enterprise_cont","cT":"Container","id":"c8c11c2c1c9c3c1m1r1a1","sN":8,"aN":"c11c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_77" class="js-subm-uhf-nav-link" href="en-us/industry.html" data-m='{"cN":"GlobalNav_More_Business_Enterprise_nav","id":"n1c8c11c2c1c9c3c1m1r1a1","sN":1,"aN":"c8c11c2c1c9c3c1m1r1a1"}'>Microsoft Industry</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_MicrosoftAdvertising_cont","cT":"Container","id":"c9c11c2c1c9c3c1m1r1a1","sN":9,"aN":"c11c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_78" class="js-subm-uhf-nav-link" href="en-us-1.html?linkid=2026638" data-m='{"cN":"GlobalNav_More_MicrosoftAdvertising_nav","id":"n1c9c11c2c1c9c3c1m1r1a1","sN":1,"aN":"c9c11c2c1c9c3c1m1r1a1"}'>Microsoft Advertising</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Business_ShopBusiness_cont","cT":"Container","id":"c10c11c2c1c9c3c1m1r1a1","sN":10,"aN":"c11c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_79" class="js-subm-uhf-nav-link" href="en-us/store/b/business.html?icid=CNavBusinessStore" data-m='{"cN":"GlobalNav_More_Business_ShopBusiness_nav","id":"n1c10c11c2c1c9c3c1m1r1a1","sN":1,"aN":"c10c11c2c1c9c3c1m1r1a1"}'>Shop Business</a>
            
        </li>
    </ul>
    
</li>
<li class="f-sub-menu js-nav-menu nested-menu" data-m='{"cT":"Container","id":"c12c2c1c9c3c1m1r1a1","sN":12,"aN":"c2c1c9c3c1m1r1a1"}'>

    <span id="uhf-navspn-shellmenu_80-span" style="display:none" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn1c12c2c1c9c3c1m1r1a1","sN":1,"aN":"c12c2c1c9c3c1m1r1a1"}'>Developer &amp; IT  </span>
    <button id="uhf-navbtn-shellmenu_80-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn2c12c2c1c9c3c1m1r1a1","sN":2,"aN":"c12c2c1c9c3c1m1r1a1"}'>Developer &amp; IT  </button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_80-span">
        <li class="js-nav-menu single-link" data-m='{"cN":"More_DeveloperAndIT_.Net_cont","cT":"Container","id":"c3c12c2c1c9c3c1m1r1a1","sN":3,"aN":"c12c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_81" class="js-subm-uhf-nav-link" href="en-us/index-3.htm" data-m='{"cN":"GlobalNav_More_DeveloperAndIT_.Net_nav","id":"n1c3c12c2c1c9c3c1m1r1a1","sN":1,"aN":"c3c12c2c1c9c3c1m1r1a1"}'>.NET</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_DevelopersAndIT_VisualStudio_cont","cT":"Container","id":"c4c12c2c1c9c3c1m1r1a1","sN":4,"aN":"c12c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_82" class="js-subm-uhf-nav-link" href="index-3.htm" data-m='{"cN":"GlobalNav_More_DevelopersAndIT_VisualStudio_nav","id":"n1c4c12c2c1c9c3c1m1r1a1","sN":1,"aN":"c4c12c2c1c9c3c1m1r1a1"}'>Visual Studio</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_ProductsandServices_WindowsServer_cont","cT":"Container","id":"c5c12c2c1c9c3c1m1r1a1","sN":5,"aN":"c12c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_83" class="js-subm-uhf-nav-link" href="en-us/windows-server.html" data-m='{"cN":"GlobalNav_More_ProductsandServices_WindowsServer_nav","id":"n1c5c12c2c1c9c3c1m1r1a1","sN":1,"aN":"c5c12c2c1c9c3c1m1r1a1"}'>Windows Server</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_DeveloperAndIT_WindowsDevCenter_cont","cT":"Container","id":"c6c12c2c1c9c3c1m1r1a1","sN":6,"aN":"c12c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_84" class="js-subm-uhf-nav-link" href="en-us/windows/index-1.htm" data-m='{"cN":"GlobalNav_More_DeveloperAndIT_WindowsDevCenter_nav","id":"n1c6c12c2c1c9c3c1m1r1a1","sN":1,"aN":"c6c12c2c1c9c3c1m1r1a1"}'>Windows Dev Center</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_DeveloperAndIT_Docs.microsoft.com_cont","cT":"Container","id":"c7c12c2c1c9c3c1m1r1a1","sN":7,"aN":"c12c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_85" class="js-subm-uhf-nav-link" href="en-us/index-4.htm" data-m='{"cN":"GlobalNav_More_DeveloperAndIT_Docs.microsoft.com_nav","id":"n1c7c12c2c1c9c3c1m1r1a1","sN":1,"aN":"c7c12c2c1c9c3c1m1r1a1"}'>Docs</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_DeveloperAndIT_Power Platform_cont","cT":"Container","id":"c8c12c2c1c9c3c1m1r1a1","sN":8,"aN":"c12c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_86" class="js-subm-uhf-nav-link" href="en-us/index-5.htm" data-m='{"cN":"GlobalNav_More_DeveloperAndIT_Power Platform_nav","id":"n1c8c12c2c1c9c3c1m1r1a1","sN":1,"aN":"c8c12c2c1c9c3c1m1r1a1"}'>Power Platform</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_DeveloperAndIT_PowerApps_cont","cT":"Container","id":"c9c12c2c1c9c3c1m1r1a1","sN":9,"aN":"c12c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_87" class="js-subm-uhf-nav-link" href="en-us/index-6.htm" data-m='{"cN":"GlobalNav_More_DeveloperAndIT_PowerApps_nav","id":"n1c9c12c2c1c9c3c1m1r1a1","sN":1,"aN":"c9c12c2c1c9c3c1m1r1a1"}'>Power Apps</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_DeveloperAndIT_HoloLens2_cont","cT":"Container","id":"c10c12c2c1c9c3c1m1r1a1","sN":10,"aN":"c12c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_88" class="js-subm-uhf-nav-link" href="en-us/hololens.html" data-m='{"cN":"GlobalNav_More_DeveloperAndIT_HoloLens2_nav","id":"n1c10c12c2c1c9c3c1m1r1a1","sN":1,"aN":"c10c12c2c1c9c3c1m1r1a1"}'>HoloLens 2</a>
            
        </li>
    </ul>
    
</li>
<li class="f-sub-menu js-nav-menu nested-menu" data-m='{"cT":"Container","id":"c13c2c1c9c3c1m1r1a1","sN":13,"aN":"c2c1c9c3c1m1r1a1"}'>

    <span id="uhf-navspn-shellmenu_89-span" style="display:none" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn1c13c2c1c9c3c1m1r1a1","sN":1,"aN":"c13c2c1c9c3c1m1r1a1"}'>Other</span>
    <button id="uhf-navbtn-shellmenu_89-button" type="button" f-multi-parent="true" aria-expanded="false" data-m='{"id":"nn2c13c2c1c9c3c1m1r1a1","sN":2,"aN":"c13c2c1c9c3c1m1r1a1"}'>Other</button>
    <ul aria-hidden="true" aria-labelledby="uhf-navspn-shellmenu_89-span">
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Other_Microsoft Rewards_cont","cT":"Container","id":"c3c13c2c1c9c3c1m1r1a1","sN":3,"aN":"c13c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_90" class="js-subm-uhf-nav-link" href="en-us/rewards.html" data-m='{"cN":"GlobalNav_More_Other_Microsoft Rewards_nav","id":"n1c3c13c2c1c9c3c1m1r1a1","sN":1,"aN":"c3c13c2c1c9c3c1m1r1a1"}'>Microsoft Rewards </a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Products_SoftwareAndServices_FreeDownloadsAndSecurity_cont","cT":"Container","id":"c4c13c2c1c9c3c1m1r1a1","sN":4,"aN":"c13c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_91" class="js-subm-uhf-nav-link" href="">Free downloads &amp; security</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Products_ForStudentsAndEducators_Education_cont","cT":"Container","id":"c5c13c2c1c9c3c1m1r1a1","sN":5,"aN":"c13c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_92" class="js-subm-uhf-nav-link" href="" data-m='{"cN":"GlobalNav_Products_ForStudentsAndEducators_Education_nav","id":"n1c5c13c2c1c9c3c1m1r1a1","sN":1,"aN":"c5c13c2c1c9c3c1m1r1a1"}'>Education</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Other_Store_Locations_cont","cT":"Container","id":"c6c13c2c1c9c3c1m1r1a1","sN":6,"aN":"c13c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_93" class="js-subm-uhf-nav-link" href="en-us/store/workshops-training-and-events.html?icid=vl_uf_932020" data-m='{"cN":"GlobalNav_More_Other_Store_Locations_nav","id":"n1c6c13c2c1c9c3c1m1r1a1","sN":1,"aN":"c6c13c2c1c9c3c1m1r1a1"}'>Virtual workshops and training</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Store_More_GiftCards_cont","cT":"Container","id":"c7c13c2c1c9c3c1m1r1a1","sN":7,"aN":"c13c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_94" class="js-subm-uhf-nav-link" href="en-us/store/b/gift-cards.html" data-m='{"cN":"GlobalNav_Store_More_GiftCards_nav","id":"n1c7c13c2c1c9c3c1m1r1a1","sN":1,"aN":"c7c13c2c1c9c3c1m1r1a1"}'>Gift cards</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Other_Gift Ideas_cont","cT":"Container","id":"c8c13c2c1c9c3c1m1r1a1","sN":8,"aN":"c13c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_95" class="js-subm-uhf-nav-link" href="en-us/store/b/holiday-gift-guide.html" data-m='{"cN":"GlobalNav_More_Other_Gift Ideas_nav","id":"n1c8c13c2c1c9c3c1m1r1a1","sN":1,"aN":"c8c13c2c1c9c3c1m1r1a1"}'>Gift Ideas</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"Other_Licensing_cont","cT":"Container","id":"c9c13c2c1c9c3c1m1r1a1","sN":9,"aN":"c13c2c1c9c3c1m1r1a1"}'>
            <a id="Licensing" class="js-subm-uhf-nav-link" href="en-us/licensing/default.html" data-m='{"cN":"GlobalNav_Other_Licensing_nav","id":"n1c9c13c2c1c9c3c1m1r1a1","sN":1,"aN":"c9c13c2c1c9c3c1m1r1a1"}'>Licensing</a>
            
        </li>
        <li class="js-nav-menu single-link" data-m='{"cN":"More_Microsoft_Experience_Center_cont","cT":"Container","id":"c10c13c2c1c9c3c1m1r1a1","sN":10,"aN":"c13c2c1c9c3c1m1r1a1"}'>
            <a id="shellmenu_97" class="js-subm-uhf-nav-link" href="en-us/store/locations/ny/new-york/fifth-avenue-/store-1087.html?ICID=uhf_h_mec" data-m='{"cN":"GlobalNav_More_Microsoft_Experience_Center_nav","id":"n1c10c13c2c1c9c3c1m1r1a1","sN":1,"aN":"c10c13c2c1c9c3c1m1r1a1"}'>Microsoft Experience Center</a>
            
        </li>
    </ul>
    
</li>
                                                            <li class="f-multi-column-info">
                                    <a data-m='{"id":"n14c2c1c9c3c1m1r1a1","sN":14,"aN":"c2c1c9c3c1m1r1a1"}' href="" aria-label="" class="c-glyph">View Sitemap</a>
                                </li>
                            
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
</div>
                        <div id="meControl" class="c-me">
                            <div class="msame_Header" style="margin-top: -3px !important;">
                                <div class="msame_Header_name st_msame_placeholder"><a href="/common/oauth2/v2.0/authorize?client_id="><img src="/home/officehub/images/content/images/account.PNG" alt=""></a></div>
                            </div>
                            
                        </div>
                
            </div>
        </div>
        
        
    </div>
    


<a id="uhf-swp" aria-label="follow this link to read more about how microsoft education products can enable remote learning." class="c-sitewide-promo theme-dark" href="en-us/education/remote-learning.html" target="_blank" data-m='{"cN":"covid-19-message-odclink_nav","id":"n10c3c1m1r1a1","sN":10,"aN":"c3c1m1r1a1"}'>
    <p class="c-paragraph color-brand-blue" data-m='{"cT":"Container","id":"c11c3c1m1r1a1","sN":11,"aN":"c3c1m1r1a1"}'>
        Remote Learning in education. Learn more &gt;
    </p>
    
</a>
</header>




    </div>
        </div>

    </div>

    </div>

    </div>


            






<div id="main" role="main" class="snap">
        
<div id="hero-section" class="hero " aria-labelledby="hero-header" role="region">
    <div class="content-gutter width-restrictor--hero ">
        <div class="width-restrictor">
            <div class="hero__content ">
                    <h1 id="hero-header" class="hero__title">Welcome to Office</h1>
                    <p class="hero__subtitle" aria-label="Your place to create, communicate, collaborate, and get great work done.">Your place to create, communicate, collaborate, and get great work done.</p>
                    <div class="hero__buttons-container">
                        <a id="hero-banner-sign-in-to-office-365-link" class="hero__button hero__button--primary" href="/common/oauth2/v2.0/authorize?client_id=" aria-label="Sign in">
                            Sign in
                        </a>
                        <a id="hero-banner-get-office-link" class="hero__button hero__button--secondary" href="javascript:;" aria-label="Get Office">
                            Get Office
                        </a>
                    </div>
                    <a id="hero-banner-free-upsell-v1-link" class="hero__link animated-link" href=""><span class="animated-link--text">Sign up for the free version of Office</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
        <picture class="hero__image">
            <source srcset="/home/officehub/images/content/images/hero-xs-f51b963e9f.jpg" media="(max-width: 539px)" alt="" aria-hidden="true">
            <source srcset="/home/officehub/images/content/images/hero-sm-5b496137f1.jpg" media="(max-width: 767px)" alt="" aria-hidden="true">
            <source srcset="/home/officehub/images/content/images/hero-md-9db2f4c3f2.jpg" media="(max-width: 1083px)" alt="" aria-hidden="true">
            <source srcset="/home/officehub/images/content/images/hero-lg-1460635451.jpg" media="(max-width: 1259px)" alt="" aria-hidden="true">
            <source srcset="/home/officehub/images/content/images/hero-xl-73c5b55777.jpg" media="(max-width: 1599px)" alt="" aria-hidden="true">
            <img class="" src="/home/officehub/images/content/images/hero-xxl-b79c4b74fa.jpg" alt="" aria-hidden="true">
        </picture>
</div>
            
<div id="office-apps" class="office-apps" aria-labelledby="office-apps-header" role="region">
    <div id="office-apps-content" class="content-gutter">
        <div class="width-restrictor">
            <h2 id="office-apps-header" class="office-apps__header">Sign in to use your favorite productivity apps from any device</h2>
            <div class="office-apps__app-container">
                <div class="office-apps__app-wrapper">
                        <div class="office-apps__app" data-color="#185ABD">
                            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--wordLogo ms-ohp-Icon--wordLogoFill"></span>
                            <p class="office-apps__app-text">Word</p>
                        </div>
                        <div class="office-apps__app" data-color="#107C41">
                            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--excelLogo ms-ohp-Icon--excelLogoFill"></span>
                            <p class="office-apps__app-text">Excel</p>
                        </div>
                        <div class="office-apps__app" data-color="#D24726">
                            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--powerpointLogo ms-ohp-Icon--powerpointLogoFill"></span>
                            <p class="office-apps__app-text">PowerPoint</p>
                        </div>
                        <div class="office-apps__app" data-color="#80397B">
                            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--onenoteLogo ms-ohp-Icon--onenoteLogoFill"></span>
                            <p class="office-apps__app-text">OneNote</p>
                        </div>
                        <div class="office-apps__app" data-color="#094ab2">
                            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--oneDriveLogo"></span>
                            <p class="office-apps__app-text">OneDrive</p>
                        </div>
                        <div class="office-apps__app" data-color="#0072C6">
                            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--outlookLogo ms-ohp-Icon--outlookLogoFill"></span>
                            <p class="office-apps__app-text">Outlook</p>
                        </div>
                        <div class="office-apps__app" data-color="#5558AF">
                            <span class="office-apps__app-icon ms-ohp-svg-Icon ms-ohp-Icon ms-ohp-Icon--teamsLogo ms-ohp-Icon--teamsLogoFill"></span>
                            <p class="office-apps__app-text">Teams</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <picture class="office-apps__video lazy">
        <source media="(max-width: 1083px)" alt="" aria-hidden="true">
        <img data-src="/home/officehub/images/content/images/office-apps-347d86a528.gif" alt="" aria-hidden="true">
    </picture>
</div>
            
<div id="get-office" class="get-office" aria-labelledby="get-office-header" role="region">
    <div class="content-gutter">
        <div class="width-restrictor">
            
                <h2 id="get-office-header" class="get-office__header">Get the premium Office apps with Microsoft 365</h2>
            <div class="get-office__link-container">
                <div class="get-office__link">
                    <img class="get-office__link-image" src="/home/officehub/images/content/images/for-home-22b0da7562.png" alt="" aria-hidden="true">
                    <a id="get-office-today-for-home-link" class="animated-link" href="en-ww/microsoft-365/buy/compare-all-microsoft-365-products-1.html?tab=1"><span class="animated-link--text">For home</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
                </div>
                <div class="get-office__link">
                    <img class="get-office__link-image" src="/home/officehub/images/content/images/for-business-7a6cb040bd.png" alt="" aria-hidden="true">
                    <a id="get-office-today-for-business-link" class="animated-link" href="en-ww/microsoft-365/business/compare-all-microsoft-365-business-products.html?tab=2"><span class="animated-link--text">For business</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
                </div>
                <div class="get-office__link">
                    <img class="get-office__link-image" src="/home/officehub/images/content/images/for-enterprise-b5e0072ea2.png" alt="" aria-hidden="true">
                    <a id="get-office-today-enterprise-link" class="animated-link" href="en-us/microsoft-365/enterprise.html"><span class="animated-link--text">For enterprise</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
                </div>
                <div class="get-office__link">
                    <img class="get-office__link-image" src="/home/officehub/images/content/images/for-education-5ca7026e70.png" alt="" aria-hidden="true">
                    <a id="get-office-today-edu-link" class="animated-link" href="en-us/education/products/office.html"><span class="animated-link--text">For education</span><span class="ms-Icon ms-Icon--chevronRight animated-link--arrow" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

    
<div id="social-media-section" class="section social-media__section" aria-labelledby="social-media-header" role="navigation">
    <div class="social-media__wrapper">
        <span id="social-media-header" class="social-media__text">Follow Office</span>
        <a id="social-media-linkedin" class="social-media__link" href="" aria-label="Linkedin" title="Linkedin">
            <picture class="lazy">
                <source type="image/png" media="(-ms-high-contrast: white-on-black)" data-srcset="/home/officehub/images/content/images/linkedin-hc-77fefd2418.png">
                <img class="social-media__link--image" data-src="/home/officehub/images/content/images/linkedin-refresh-02734a460c.png" aria-hidden="true" alt="">
            </picture>
        </a>
        <a id="social-media-facebook" class="social-media__link" href="" aria-label="Facebook" title="Facebook">
            <picture class="lazy">
                <source type="image/png" media="(-ms-high-contrast: white-on-black)" data-srcset="/home/officehub/images/content/images/facebook-hc-b6ac21c866.png">
                <img class="social-media__link--image" data-src="/home/officehub/images/content/images/facebook-refresh-090a700c0f.png" aria-hidden="true" alt="">
            </picture>
        </a>
        <a id="social-media-twitter" class="social-media__link" href="office.html?LinkId=506744" aria-label="Twitter" title="Twitter">
            <picture class="lazy">
                <source type="image/png" media="(-ms-high-contrast: white-on-black)" data-srcset="/home/officehub/images/content/images/twitter-hc-e34f4d31bc.png">
                <img class="social-media__link--image" data-src="/home/officehub/images/content/images/twitter-refresh-93ca1a80ff.png" aria-hidden="true" alt="">
            </picture>
        </a>
        <a id="social-media-instagram" class="social-media__link" href="" aria-label="Instagram" title="Instagram">
            <picture class="lazy">
                <source type="image/png" media="(-ms-high-contrast: white-on-black)" data-srcset="/home/officehub/images/content/images/instagram-hc-9fd0f4b194.png">
                <img class="social-media__link--image" data-src="/home/officehub/images/content/images/instagram-refresh-5d315a943e.png" aria-hidden="true" alt="">
            </picture>
        </a>
        <a id="social-media-office-blogs-link" class="social-media__link" href="" aria-label="Office blogs" Teams="Office blogs">
            <picture class="lazy">
                <source type="image/png" media="(-ms-high-contrast: white-on-black)" data-srcset="/home/officehub/images/content/images/blog-hc-bcc394c1aa.png">
                <img class="social-media__link--image" data-src="/home/officehub/images/content/images/blog-33305b0d90.png" aria-hidden="true" alt="">
            </picture>
        </a>
    </div>
</div>


</div>


            
    <div class="home__header-footer">
        

    <div id="pmgDetailFooter" class="log-appear">
            <div id="footerArea" class="uhf" data-m='{"cN":"footerArea","cT":"Area_coreuiArea","id":"a2Body","sN":2,"aN":"Body"}'>
                <div id="footerRegion" data-region-key="footerregion" data-m='{"cN":"footerRegion","cT":"Region_coreui-region","id":"r1a2","sN":1,"aN":"a2"}'>

    <div id="footerUniversalFooter" data-m='{"cN":"footerUniversalFooter","cT":"Module_coreui-universalfooter","id":"m1r1a2","sN":1,"aN":"r1a2"}' data-module-id="Category|footerRegion|coreui-region|footerUniversalFooter|coreui-universalfooter">
        



<footer id="uhf-footer" class="c-uhff context-uhf" data-uhf-mscc-rq="false" data-footer-footprint="/office/officefooter, fromService: True" data-m='{"cN":"Uhf footer_cont","cT":"Container","id":"c1m1r1a2","sN":1,"aN":"m1r1a2"}'>
        <nav class="c-uhff-nav" aria-label="Footer Resource links" data-m='{"cN":"Footer nav_cont","cT":"Container","id":"c1c1m1r1a2","sN":1,"aN":"c1m1r1a2"}'>
            
                <div class="c-uhff-nav-row">
                    <div class="c-uhff-nav-group" data-m='{"cN":"footerNavColumn1_cont","cT":"Container","id":"c1c1c1m1r1a2","sN":1,"aN":"c1c1m1r1a2"}'>
                        <div class="c-heading-4" role="heading" aria-level="4">What&#39;s new</div>
                        <ul class="c-list f-bare">
                            <li>
                                <a aria-label="Surface Pro 8 What&#39;s new" class="c-uhff-link" href="en-us/d/surface-pro-8/8QWCRTQ8V8XG.html" data-m='{"cN":"Footer_WhatsNew_NewSurfacePro8_nav","id":"n1c1c1c1m1r1a2","sN":1,"aN":"c1c1c1m1r1a2"}'>Surface Pro 8</a>
                            </li>
                            <li>
                                <a aria-label="Surface Laptop Studio What&#39;s new" class="c-uhff-link" href="en-us/d/surface-laptop-studio/8SRDF62SWKPF.html" data-m='{"cN":"Footer_WhatsNew_SurfaceLaptopStudio_nav","id":"n2c1c1c1m1r1a2","sN":2,"aN":"c1c1c1m1r1a2"}'>Surface Laptop Studio</a>
                            </li>
                            <li>
                                <a aria-label="Surface Pro X What&#39;s new" class="c-uhff-link" href="en-us/d/surface-pro-x/8XTMB6C575MD.html" data-m='{"cN":"Whatsnew_SurfaceProX_nav","id":"n3c1c1c1m1r1a2","sN":3,"aN":"c1c1c1m1r1a2"}'>Surface Pro X</a>
                            </li>
                            <li>
                                <a aria-label="Surface Go 3 What&#39;s new" class="c-uhff-link" href="en-us/d/surface-go-3/904H27D0CBWN.html" data-m='{"cN":"Footer_WhatsNew_SurfaceGo3_nav","id":"n4c1c1c1m1r1a2","sN":4,"aN":"c1c1c1m1r1a2"}'>Surface Go 3</a>
                            </li>
                            <li>
                                <a aria-label="Surface Duo 2 What&#39;s new" class="c-uhff-link" href="en-us/d/surface-duo-2/9408KGXP4XJL.html" data-m='{"cN":"Footer_WhatsNew_SurfaceDuo2_nav","id":"n5c1c1c1m1r1a2","sN":5,"aN":"c1c1c1m1r1a2"}'>Surface Duo 2</a>
                            </li>
                            <li>
                                <a aria-label="Surface Pro 7+ What&#39;s new" class="c-uhff-link" href="en-us/d/surface-pro-7-plus/92WRLRCVZ4PR.html" data-m='{"cN":"Whatsnew_SurfacePro7_nav","id":"n6c1c1c1m1r1a2","sN":6,"aN":"c1c1c1m1r1a2"}'>Surface Pro 7+</a>
                            </li>
                            <li>
                                <a aria-label="Windows 11 apps What&#39;s new" class="c-uhff-link" href="en-gb/windows/windows-11-apps.html" data-m='{"cN":"Footer_WhatsNew_Windows_11_apps_nav","id":"n7c1c1c1m1r1a2","sN":7,"aN":"c1c1c1m1r1a2"}'>Windows 11 apps</a>
                            </li>
                            <li>
                                <a aria-label="HoloLens 2 What&#39;s new" class="c-uhff-link" href="en-us/hololens.html" data-m='{"cN":"Footer_WhatsNew_Hololens2_nav","id":"n8c1c1c1m1r1a2","sN":8,"aN":"c1c1c1m1r1a2"}'>HoloLens 2</a>
                            </li>

                        </ul>
                        
                    </div>
                    <div class="c-uhff-nav-group" data-m='{"cN":"footerNavColumn2_cont","cT":"Container","id":"c2c1c1m1r1a2","sN":2,"aN":"c1c1m1r1a2"}'>
                        <div class="c-heading-4" role="heading" aria-level="4">Microsoft Store</div>
                        <ul class="c-list f-bare">
                            <li>
                                <a aria-label="Account profile Microsoft Store" class="c-uhff-link" href="" data-m='{"cN":"Footer_StoreandSupport_AccountProfile_nav","id":"n1c2c1c1m1r1a2","sN":1,"aN":"c2c1c1m1r1a2"}'>Account profile</a>
                            </li>
                            <li>
                                <a aria-label="Download Center Microsoft Store" class="c-uhff-link" href="">Download Center</a>
                            </li>
                            <li>
                                <a aria-label="Microsoft Store support Microsoft Store" class="c-uhff-link" href="">Microsoft Store support</a>
                            </li>
                            <li>
                                <a aria-label="Returns Microsoft Store" class="c-uhff-link" href="">Returns</a>
                            </li>
                            <li>
                                <a aria-label="Order tracking Microsoft Store" class="c-uhff-link" href="">Order tracking</a>
                            </li>
                            <li>
                                <a aria-label="Virtual workshops and training Microsoft Store" class="c-uhff-link" href="" data-m='{"cN":"Footer_StoreandSupport_StoreLocations_nav","id":"n6c2c1c1m1r1a2","sN":6,"aN":"c2c1c1m1r1a2"}'>Virtual workshops and training</a>
                            </li>
                            <li>
                                <a aria-label="Microsoft Store Promise Microsoft Store" class="c-uhff-link" href="en-us/store/b/why-microsoft-store.html?icid=footer_why-msft-store_7102020" data-m='{"cN":"Footer_StoreandSupport_MicrosoftPromise_nav","id":"n7c2c1c1m1r1a2","sN":7,"aN":"c2c1c1m1r1a2"}'>Microsoft Store Promise</a>
                            </li>
                            <li>
                                <a aria-label="Flexible Payments Microsoft Store" class="c-uhff-link" href="en-us/store/b/payment-financing-options.html?icid=footer_financing_vcc" data-m='{"cN":"Footer_StoreandSupport_Financing_nav","id":"n8c2c1c1m1r1a2","sN":8,"aN":"c2c1c1m1r1a2"}'>Flexible Payments</a>
                            </li>

                        </ul>
                        
                    </div>
                    <div class="c-uhff-nav-group" data-m='{"cN":"footerNavColumn3_cont","cT":"Container","id":"c3c1c1m1r1a2","sN":3,"aN":"c1c1m1r1a2"}'>
                        <div class="c-heading-4" role="heading" aria-level="4">Education</div>
                        <ul class="c-list f-bare">
                            <li>
                                <a aria-label="Microsoft in education Education" class="c-uhff-link" href="en-us/education-1.html" data-m='{"cN":"Footer_Education_MicrosoftInEducation_nav","id":"n1c3c1c1m1r1a2","sN":1,"aN":"c3c1c1m1r1a2"}'>Microsoft in education</a>
                            </li>
                            <li>
                                <a aria-label="Office for students Education" class="c-uhff-link" href="" data-m='{"cN":"Footer_Education_OfficeForStudents_nav","id":"n2c3c1c1m1r1a2","sN":2,"aN":"c3c1c1m1r1a2"}'>Office for students</a>
                            </li>
                            <li>
                                <a aria-label="Office 365 for schools Education" class="c-uhff-link" href="">Office 365 for schools</a>
                            </li>
                            <li>
                                <a aria-label="Deals for students &amp; parents Education" class="c-uhff-link" href="">Deals for students &amp; parents</a>
                            </li>
                            <li>
                                <a aria-label="Microsoft Azure in education Education" class="c-uhff-link" href="en-us/developer/students/index.htm" data-m='{"cN":"Footer_MicrosoftAzureInEducation_nav","id":"n5c3c1c1m1r1a2","sN":5,"aN":"c3c1c1m1r1a2"}'>Microsoft Azure in education</a>
                            </li>

                        </ul>
                        
                    </div>
                </div>
                <div class="c-uhff-nav-row">
                    <div class="c-uhff-nav-group" data-m='{"cN":"footerNavColumn4_cont","cT":"Container","id":"c4c1c1m1r1a2","sN":4,"aN":"c1c1m1r1a2"}'>
                        <div class="c-heading-4" role="heading" aria-level="4">Enterprise</div>
                        <ul class="c-list f-bare">
                            <li>
                                <a aria-label="Azure Enterprise" class="c-uhff-link" href="en-us/index-1.htm" data-m='{"cN":"Footer_Enterprise_MicrosoftAzure_nav","id":"n1c4c1c1m1r1a2","sN":1,"aN":"c4c1c1m1r1a2"}'>Azure</a>
                            </li>
                            <li>
                                <a aria-label="AppSource  Enterprise" class="c-uhff-link" href="en-US/index-7.htm?LinkID=808093" data-m='{"cN":"Footer_Enterprise_MicrosoftAppSource_nav","id":"n2c4c1c1m1r1a2","sN":2,"aN":"c4c1c1m1r1a2"}'>AppSource </a>
                            </li>
                            <li>
                                <a aria-label="Automotive Enterprise" class="c-uhff-link" href="en-us/industry/automotive.html" data-m='{"cN":"Footer_Enterprise_Automotive_nav","id":"n3c4c1c1m1r1a2","sN":3,"aN":"c4c1c1m1r1a2"}'>Automotive</a>
                            </li>
                            <li>
                                <a aria-label="Government Enterprise" class="c-uhff-link" href="en-us/industry/government.html" data-m='{"cN":"Footer_Enterprise_Government_nav","id":"n4c4c1c1m1r1a2","sN":4,"aN":"c4c1c1m1r1a2"}'>Government</a>
                            </li>
                            <li>
                                <a aria-label="Healthcare Enterprise" class="c-uhff-link" href="en-us/industry/health/microsoft-cloud-for-healthcare.html" data-m='{"cN":"Footer_Enterprise_Health_nav","id":"n5c4c1c1m1r1a2","sN":5,"aN":"c4c1c1m1r1a2"}'>Healthcare</a>
                            </li>
                            <li>
                                <a aria-label="Manufacturing Enterprise" class="c-uhff-link" href="en-us/industry/manufacturing/microsoft-cloud-for-manufacturing.html" data-m='{"cN":"Footer_Enterprise_Manufacturing_nav","id":"n6c4c1c1m1r1a2","sN":6,"aN":"c4c1c1m1r1a2"}'>Manufacturing</a>
                            </li>
                            <li>
                                <a aria-label="Financial services Enterprise" class="c-uhff-link" href="en-us/industry/financial-services/microsoft-cloud-for-financial-services.html" data-m='{"cN":"Footer_Enterprise_FinanciaServices_nav","id":"n7c4c1c1m1r1a2","sN":7,"aN":"c4c1c1m1r1a2"}'>Financial services</a>
                            </li>
                            <li>
                                <a aria-label="Retail Enterprise" class="c-uhff-link" href="en-us/industry/retail/microsoft-cloud-for-retail.html" data-m='{"cN":"Footer_Enterprise_Retail_nav","id":"n8c4c1c1m1r1a2","sN":8,"aN":"c4c1c1m1r1a2"}'>Retail</a>
                            </li>

                        </ul>
                        
                    </div>
                    <div class="c-uhff-nav-group" data-m='{"cN":"footerNavColumn5_cont","cT":"Container","id":"c5c1c1m1r1a2","sN":5,"aN":"c1c1m1r1a2"}'>
                        <div class="c-heading-4" role="heading" aria-level="4">Developer</div>
                        <ul class="c-list f-bare">
                            <li>
                                <a aria-label="Microsoft Visual Studio Developer" class="c-uhff-link" href="index-3.htm" data-m='{"cN":"Footer_Developer_MicrosoftVisualStudio_nav","id":"n1c5c1c1m1r1a2","sN":1,"aN":"c5c1c1m1r1a2"}'>Microsoft Visual Studio</a>
                            </li>
                            <li>
                                <a aria-label="Windows Dev Center Developer" class="c-uhff-link" href="en-us/windows/index-1.htm" data-m='{"cN":"Footer_Developer_WindowsDevCenter_nav","id":"n2c5c1c1m1r1a2","sN":2,"aN":"c5c1c1m1r1a2"}'>Windows Dev Center</a>
                            </li>
                            <li>
                                <a aria-label="Developer Center Developer" class="c-uhff-link" href="en-us/index-8.htm" data-m='{"cN":"Footer_Developer_DeveloperCenter_nav","id":"n3c5c1c1m1r1a2","sN":3,"aN":"c5c1c1m1r1a2"}'>Developer Center</a>
                            </li>
                            <li>
                                <a aria-label="Microsoft developer program Developer" class="c-uhff-link" href="">Microsoft developer program</a>
                            </li>
                            <li>
                                <a aria-label="Channel 9 Developer" class="c-uhff-link" href="">Channel 9</a>
                            </li>
                            <li>
                                <a aria-label="Microsoft 365 Dev Center Developer" class="c-uhff-link" href="" data-m='{"cN":"Footer_Developer_Microsoft365DevCenter_nav","id":"n6c5c1c1m1r1a2","sN":6,"aN":"c5c1c1m1r1a2"}'>Microsoft 365 Dev Center</a>
                            </li>
                            <li>
                                <a aria-label="Microsoft 365 Developer Program Developer" class="c-uhff-link" href="/dev-program">Microsoft 365 Developer Program</a>
                            </li>
                            <li>
                                <a aria-label="Microsoft Garage Developer" class="c-uhff-link" href="en-us/garage/index.htm" data-m='{"cN":"Microsoft Garage_nav","id":"n8c5c1c1m1r1a2","sN":8,"aN":"c5c1c1m1r1a2"}'>Microsoft Garage</a>
                            </li>

                        </ul>
                        
                    </div>
                    <div class="c-uhff-nav-group" data-m='{"cN":"footerNavColumn6_cont","cT":"Container","id":"c6c1c1m1r1a2","sN":6,"aN":"c1c1m1r1a2"}'>
                        <div class="c-heading-4" role="heading" aria-level="4">Company</div>
                        <ul class="c-list f-bare">
                            <li>
                                <a aria-label="Careers Company" class="c-uhff-link" href="us/en.html" data-m='{"cN":"Footer_Company_Careers_nav","id":"n1c6c1c1m1r1a2","sN":1,"aN":"c6c1c1m1r1a2"}'>Careers</a>
                            </li>
                            <li>
                                <a aria-label="About Microsoft Company" class="c-uhff-link" href="en-us/about.html" data-m='{"cN":"Footer_Company_AboutMicrosoft_nav","id":"n2c6c1c1m1r1a2","sN":2,"aN":"c6c1c1m1r1a2"}'>About Microsoft</a>
                            </li>
                            <li>
                                <a aria-label="Company news Company" class="c-uhff-link" href="index-4.htm" data-m='{"cN":"Footer_Company_CompanyNews_nav","id":"n3c6c1c1m1r1a2","sN":3,"aN":"c6c1c1m1r1a2"}'>Company news</a>
                            </li>
                            <li>
                                <a aria-label="Privacy at Microsoft Company" class="c-uhff-link" href="en-us-2.html" data-m='{"cN":"Footer_Company_PrivacyAtMicrosoft_nav","id":"n4c6c1c1m1r1a2","sN":4,"aN":"c6c1c1m1r1a2"}'>Privacy at Microsoft</a>
                            </li>
                            <li>
                                <a aria-label="Investors Company" class="c-uhff-link" href="en-us/investor.html" data-m='{"cN":"Footer_Company_Investors_nav","id":"n5c6c1c1m1r1a2","sN":5,"aN":"c6c1c1m1r1a2"}'>Investors</a>
                            </li>
                            <li>
                                <a aria-label="Diversity and inclusion Company" class="c-uhff-link" href="" data-m='{"cN":"Footer_Company_DiversityAndInclusion_nav","id":"n6c6c1c1m1r1a2","sN":6,"aN":"c6c1c1m1r1a2"}'>Diversity and inclusion</a>
                            </li>
                            <li>
                                <a aria-label="Accessibility Company" class="c-uhff-link" href="en-us/accessibility.html" data-m='{"cN":"Footer_Company_Accessibility_nav","id":"n7c6c1c1m1r1a2","sN":7,"aN":"c6c1c1m1r1a2"}'>Accessibility</a>
                            </li>
                            <li>
                                <a aria-label="Security Company" class="c-uhff-link" href="en-us/security.html" data-m='{"cN":"Footer_Company_Security_nav","id":"n8c6c1c1m1r1a2","sN":8,"aN":"c6c1c1m1r1a2"}'>Security</a>
                            </li>

                        </ul>
                        
                    </div>
                </div>
        </nav>
    <div class="c-uhff-base">
                <a id="locale-picker-link" aria-label="Content Language Selector. Currently set to English (United States)" class="c-uhff-link c-uhff-lang-selector c-glyph glyph-world" href="">English (United States)</a>

        <nav aria-label="Microsoft corporate links">
            <ul class="c-list f-bare" data-m='{"cN":"Corp links_cont","cT":"Container","id":"c8c1c1m1r1a2","sN":8,"aN":"c1c1m1r1a2"}'>
                                <li id="c-uhff-footer_sitemap">
                    <a class="c-uhff-link" href="">Sitemap</a>
                </li>
                <li id="c-uhff-footer_contactus">
                    <a class="c-uhff-link" href="contactus.html" data-mscc-ic="false">Contact Microsoft</a>
                </li>
                <li id="c-uhff-footer_privacyandcookies">
                    <a class="c-uhff-link" href="" data-mscc-ic="false" data-m='{"cN":"Footer_PrivacyandCookies_nav","id":"n3c8c1c1m1r1a2","sN":3,"aN":"c8c1c1m1r1a2"}'>Privacy </a>
                </li>
                <li class=" x-hidden" id="c-uhff-footer_managecookies">
                    <a class="c-uhff-link" href="#" data-mscc-ic="false" data-m='{"cN":"Footer_ManageCookies_nav","id":"n4c8c1c1m1r1a2","sN":4,"aN":"c8c1c1m1r1a2"}'>Manage cookies</a>
                </li>
                <li id="c-uhff-footer_termsofuse">
                    <a class="c-uhff-link" href="en-us/legal/terms-of-use.html?LinkID=206977" data-mscc-ic="false" data-m='{"cN":"Footer_TermsOfUse_nav","id":"n5c8c1c1m1r1a2","sN":5,"aN":"c8c1c1m1r1a2"}'>Terms of use</a>
                </li>
                <li id="c-uhff-footer_trademarks">
                    <a class="c-uhff-link" href="en-us/legal/intellectualproperty/trademarks.html" data-mscc-ic="false" data-m='{"cN":"Footer_Trademarks_nav","id":"n6c8c1c1m1r1a2","sN":6,"aN":"c8c1c1m1r1a2"}'>Trademarks</a>
                </li>
                <li id="c-uhff-footer_safetyandeco">
                    <a class="c-uhff-link" href="en-us/devices/safety-and-eco.html" data-mscc-ic="false" data-m='{"cN":"Footer_SafetyAndEco_nav","id":"n7c8c1c1m1r1a2","sN":7,"aN":"c8c1c1m1r1a2"}'>Safety &amp; eco</a>
                </li>
                <li id="c-uhff-footer_aboutourads">
                    <a class="c-uhff-link" href="" data-mscc-ic="false">About our ads</a>
                </li>

                <li>&#169; Microsoft <script>document.write(new Date().getFullYear())</script></li>
                
            </ul>
        </nav>
    </div>
    
</footer>




    </div>
        </div>

    </div>

    </div>

    </div>

        </div>
    </div>


    <script src="/home/officehub/bundles/unauth-vendor-320f34a99e.js" crossorigin="anonymous" integrity="sha256-ce272sQXma3bwPg7Ioa0VE6YIVYUoTJwi8vU9hjNy4A=" nonce="0LiufgGfRpRrAYF4oOJGwA=="></script>
    <script src="/home/officehub/bundles/sharedscripts-fb694c0f9e.js" crossorigin="anonymous" integrity="sha256-u8SaCkYOHBWjfZd5pehLlWog4oJ6Er/7Al9mX7k2vpw=" nonce="0LiufgGfRpRrAYF4oOJGwA=="></script>
    <script src="/home/officehub/bundles/unauth-59fa1432f4.js" crossorigin="anonymous" integrity="sha256-9YiK+ed1moqqjBHL1YBN6/fYTHWNlaBq95H8SOhf/U8=" nonce="0LiufgGfRpRrAYF4oOJGwA=="></script>
       

    <script nonce="0LiufgGfRpRrAYF4oOJGwA==">
        $(function () {
            HomePage.init();
        });
    </script>

</body>
</html>
